<h1>Ejercicio 1</h1>

<label for="primerNumero">
  Primer edad:
  <input type="number" id="primerNumero" [(ngModel)]="edad1">
</label>

<label for="segundoNumero">
  Segunda edad:
  <input type="number" id="segundoNumero" [(ngModel)]="edad2">
</label>

<h2> SUMA EDADES </h2> <h2> PROMEDIO </h2>

<label for="sumaEdades">
  {{sumaEdades<=0?'Suma edades (sin calcular)':'Suma edades (calculado)'}}
<input type="number" id="sumaEdades" [(ngModel)]="sumaEdades" >
</label>

<label for="PromedioEdades">
  {{promedioEdades<=0?'Promedio edades (sin calcular)':'Promedio edades (calculado)'}}
<input type="number" id="PromedioEdades" [(ngModel)]="promedioEdades">
</label>

<button (click)='SumaPromedio()'> Calcular </button>
<button (click)='CleanValues()'> Limpiar </button>